html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 70px;
}

* {
    font-family: Roboto, sans-serif;
}

.paragraph-heading {
    color: royalblue;
    font-size: 24px;
}

.paragraph-text {
    padding-top: 15px;
    font-size: 14px;
    line-height: 20px;
    font-style: normal;
    text-align: justify;
}

hr {
    padding-bottom: 30px;
    border-color: royalblue;
}

.paragraph-image {
    padding-top: 15px;
}