/* Footer styling and position */
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 12px;
}

/* Override default for footer and navbar border */
.navbar {
    margin-bottom: 0;
    border: 0;
}

/* Navbar element color */
.navbar-inverse .navbar-nav > li > a {
    color: white;
}

/* Current locale highlight */
.active {
    background-color: royalblue;
    color: royalblue;
}

.navbar-inverse .navbar-nav > li > a {
    text-align: center;
}

ul.nav.navbar-nav li {
    padding-top: 0;
}

.navbar-inverse .navbar-toggle {
    border-color: whitesmoke;
    border-radius: 0;
    color: whitesmoke;
}

/* Logo styling */
#main-logo {
    background: url("/../img/logos/viscoplus_logo.png") no-repeat;
    display: block;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    background-size: 200px 30px;
    width: 200px;
    height: 30px;
}

