
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: Roboto, sans-serif;
    font-size: 12px;
}

/* Override default for footer */
.navbar {
    margin-bottom: 0;
}

.panel.panel-primary {
    padding-left: 0;
    padding-right: 0;
}

.panel-heading h3 {
    padding-top: 8px;
}

ul.nav {
    border-color: #4169E1 !important;
    border-width: 1px;
}

ul.nav a:hover {
    color: #4169E1 !important;
}

#main-logo {
    display: block;
    margin-left: 15px;
    background-size: 225px 75px;
    width: 225px;
    height: 75px;
}
