
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 12px;
}

/* Override default for footer */
.navbar {
    margin-bottom: 0;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.active {
    background-color: darkgrey;
}

ul.nav.navbar-nav {
    padding-left: 30px;
}

/*
.panel.panel-primary {
    padding-left: 0;
    padding-right: 0;
}

.panel-heading h3 {
    padding-top: 8px;
}

ul.nav {
    border-color: royalblue !important;
    border-width: 1px;
}

ul.nav a:hover {
    color: royalblue !important;
}

#main-logo {
    background: url("/../img/logos/small_logo.png") no-repeat;
    display: block;
    margin-left: 15px;
}
