@media (max-width: 379px) {
    #main-logo {
        background-size: 150px 60px;
        width: 150px;
        height: 60px;
    }

    #footer {
        height: 60px;
    }
}

@media (max-width: 1089px) {

    .navbar-nav {
        padding-top: 15px;
        margin: 0 auto -10px;
    }

    #main-logo {
        background: url("/../img/logos/small_logo.png") no-repeat;
        background-size: 225px 75px;
        width: 225px;
        height: 75px;
    }
}

@media (min-width: 1090px) {

    .navbar-nav {
        padding: 30px 30px 10px;
        margin: 0 auto -10px;
    }

    #main-logo {
        background: url("/../img/logos/main_logo.png") no-repeat;
        background-size: 300px 100px;
        width: 300px;
        height: 100px;
    }

}
